

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-552829394607998059.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-552829394607998059.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-552829394607998059.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-552829394607998059.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-552829394607998059.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-552829394607998059.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-552829394607998059.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-552829394607998059.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-552829394607998059.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-552829394607998059.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-552829394607998059.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-552829394607998059.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-552829394607998059.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-552829394607998059.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-552829394607998059.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-552829394607998059.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-552829394607998059.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-552829394607998059.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-552829394607998059.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-552829394607998059.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-552829394607998059.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-552829394607998059.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-552829394607998059.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-552829394607998059.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-552829394607998059.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-552829394607998059.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-552829394607998059.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-552829394607998059.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-552829394607998059.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-552829394607998059.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-552829394607998059.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-552829394607998059.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-552829394607998059.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-552829394607998059.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-552829394607998059.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-552829394607998059.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-552829394607998059.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-552829394607998059.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-552829394607998059.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-552829394607998059.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-552829394607998059.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-552829394607998059.gps.gpsil [style*="--v-tablet:"]{visibility:var(--v-tablet)}.gps-552829394607998059.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-552829394607998059.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-552829394607998059.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-552829394607998059.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-552829394607998059.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-552829394607998059.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-552829394607998059.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-552829394607998059.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-552829394607998059.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-552829394607998059.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-552829394607998059.gps.gpsil [style*="--v-mobile:"]{visibility:var(--v-mobile)}.gps-552829394607998059.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-552829394607998059 .gp-relative{position:relative}.gps-552829394607998059 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-552829394607998059 .gp-mb-0{margin-bottom:0}.gps-552829394607998059 .gp-flex{display:flex}.gps-552829394607998059 .gp-grid{display:grid}.gps-552829394607998059 .\!gp-hidden{display:none!important}.gps-552829394607998059 .gp-hidden{display:none}.gps-552829394607998059 .gp-max-w-full{max-width:100%}.gps-552829394607998059 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-552829394607998059 .gp-flex-col{flex-direction:column}.gps-552829394607998059 .gp-gap-y-0{row-gap:0}.gps-552829394607998059 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-552829394607998059 .gp-duration-200{transition-duration:.2s}.gps-552829394607998059 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-552829394607998059 .tablet\:\!gp-hidden{display:none!important}.gps-552829394607998059 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-552829394607998059 .mobile\:\!gp-hidden{display:none!important}.gps-552829394607998059 .mobile\:gp-hidden{display:none}}.gps-552829394607998059 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-552829394607998059 .\[\&_p\]\:gp-inline p{display:inline}.gps-552829394607998059 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-552829394607998059 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gjYko4FWMc" data-id="gjYko4FWMc"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:10px;--pb:100px;--pt-mobile:var(--g-s-2xl);--pl-mobile:10px;--pb-mobile:100px;--pr-mobile:10px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FCFCFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjYko4FWMc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gB1OEmZiPF gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g59MKvei6C" data-id="g59MKvei6C"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:var(--g-s-l);--mb-mobile:var(--g-s-l);--pl-mobile:30px;--pr-mobile:30px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g59MKvei6C gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gCcGxmP6yG gp-relative gp-flex gp-flex-col"
    >
      
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}},"mobile":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":[80,100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Heading","opacity":{"desktop":"100%","mobile":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gKInoq4tw2">
    <div
      parentTag="Col"
        class="gKInoq4tw2 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pb:20px;--pb-mobile:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Alexandria, 'Alexandria'), var(--g-font-heading, heading);--weight:400;--size:46px;--size-tablet:46px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggKInoq4tw2_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    </div>
  </gp-animation>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-animation.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":["90",100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}},"mobile":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"zoom","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":["90",100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Row","opacity":{"desktop":"100%","mobile":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
       
      
    <div
      parentTag="Col" id="gVfChUBuu-" data-id="gVfChUBuu-"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pt:20px;--cg:8px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVfChUBuu- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g11vfA6EjT gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pb-mobile:20px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gtQOB4DV-K "
    ><div><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Use the Google Fonts link for the "Arbutus" font -->
    <link href="https://fonts.googleapis.com/css2?family=Arbutus&display=swap" rel="stylesheet">
    
    <!-- Include the WaveSurfer.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script>
    
    <style>
        #playPause1 {
            margin-top: 5px;
            cursor: pointer;
            height: 30px;
            width: 30px;
        }
        .description {
            text-align: left;
            font-size: 12px;
            font-family: 'Arbutus', sans-serif;
            color: #000000;
        }
        #wavesurfer-container1 {
            user-select: none;
        }
    </style>
</head>
<body>
<div id="wavesurfer-container1"></div>
<img height="30px" width="30px" id="playPause1" 
     src="https://cdn.shopify.com/s/files/1/0601/7332/0434/files/play_icon_7f196692-18d6-4b56-a3e5-546845b621c1.webp?v=1671035135" 
     class="control_button">
<p class="description">{{ product.metafields.custom.audiotitle1 }}</p>

<script>
   document.addEventListener('DOMContentLoaded', function () {
       var playPauseBtn = document.querySelector("#playPause1"); // Change 1 to match each instance
       var waveContainer = document.querySelector("#wavesurfer-container1"); // Change 1 accordingly

       if (!playPauseBtn || !waveContainer) return;

       var playIcon = "https://cdn.shopify.com/s/files/1/0601/7332/0434/files/play_icon_7f196692-18d6-4b56-a3e5-546845b621c1.webp?v=1671035135";
       var pauseIcon = "https://cdn.shopify.com/s/files/1/0601/7332/0434/files/pause_icon_14c18574-a8f7-4ca2-9b4e-524d2be8d0e1.webp?v=1671035136";

       // Ensure the global array exists
       window.waveSurferPlayers = window.waveSurferPlayers || [];

       var wavesurfer = WaveSurfer.create({
           container: waveContainer,
           waveColor: '#000000',
           progressColor: '#000000',
           height: 40,
           cursorWidth: 0,
           hideScrollbar: true,
           backend: 'MediaElement'
       });

       // Load the respective audio file dynamically
       wavesurfer.load('{{ product.metafields.custom.audiopreview1 }}'); // Change index for each instance

       wavesurfer.on('play', function() {
           // Stop all other players before playing this one
           window.waveSurferPlayers.forEach(player => {
               if (player !== wavesurfer) {
                   player.pause();
               }
           });

           playPauseBtn.src = pauseIcon;
       });

       wavesurfer.on('pause', function() {
           playPauseBtn.src = playIcon;
       });

       playPauseBtn.addEventListener("click", function () {
           wavesurfer.playPause();
       });

       // Add this instance to the global array
       window.waveSurferPlayers.push(wavesurfer);
   });
</script>

</body>
</html></div></div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g65ev3FOB7 gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pb-mobile:20px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gy2LNYTRfx "
    ><div><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Use the Google Fonts link for the "Arbutus" font -->
    <link href="https://fonts.googleapis.com/css2?family=Arbutus&display=swap" rel="stylesheet">
    
    <!-- Include the WaveSurfer.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script>
    
    <style>
        #playPause2 {
            margin-top: 5px;
            cursor: pointer;
            height: 30px; /* Adjusted height */
            width: 30px; /* Adjusted width */
        }
        .description {
            text-align: left;
            font-size: 12px;
            font-family: 'Arbutus', sans-serif;
            color: #000000;
        }
        #wavesurfer-container2 {
            user-select: none;
        }
    </style>
</head>
<body>
<div id="wavesurfer-container2"></div>
<img height="30px" width="30px" id="playPause2" 
     src="https://cdn.shopify.com/s/files/1/0601/7332/0434/files/play_icon_7f196692-18d6-4b56-a3e5-546845b621c1.webp?v=1671035135" 
     class="control_button">
<p class="description">{{ product.metafields.custom.audiotitle2 }}</p>

<script>
   document.addEventListener('DOMContentLoaded', function () {
       var playPauseBtn = document.querySelector("#playPause2"); // Change 1 to match each instance
       var waveContainer = document.querySelector("#wavesurfer-container2"); // Change 1 accordingly

       if (!playPauseBtn || !waveContainer) return;

       var playIcon = "https://cdn.shopify.com/s/files/1/0601/7332/0434/files/play_icon_7f196692-18d6-4b56-a3e5-546845b621c1.webp?v=1671035135";
       var pauseIcon = "https://cdn.shopify.com/s/files/1/0601/7332/0434/files/pause_icon_14c18574-a8f7-4ca2-9b4e-524d2be8d0e1.webp?v=1671035136";

       // Ensure the global array exists
       window.waveSurferPlayers = window.waveSurferPlayers || [];

       var wavesurfer = WaveSurfer.create({
           container: waveContainer,
           waveColor: '#000000',
           progressColor: '#000000',
           height: 40,
           cursorWidth: 0,
           hideScrollbar: true,
           backend: 'MediaElement'
       });

       // Load the respective audio file dynamically
       wavesurfer.load('{{ product.metafields.custom.audiopreview2 }}'); // Change index for each instance

       wavesurfer.on('play', function() {
           // Stop all other players before playing this one
           window.waveSurferPlayers.forEach(player => {
               if (player !== wavesurfer) {
                   player.pause();
               }
           });

           playPauseBtn.src = pauseIcon;
       });

       wavesurfer.on('pause', function() {
           playPauseBtn.src = playIcon;
       });

       playPauseBtn.addEventListener("click", function () {
           wavesurfer.playPause();
       });

       // Add this instance to the global array
       window.waveSurferPlayers.push(wavesurfer);
   });
</script>


</body>
</html></div></div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gfeM3ovTV- gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pb-mobile:20px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gzc2euyzFj "
    ><div><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Use the Google Fonts link for the "Arbutus" font -->
    <link href="https://fonts.googleapis.com/css2?family=Arbutus&display=swap" rel="stylesheet">
    
    <!-- Include the WaveSurfer.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script>
    
    <style>
        #playPause3 {
            margin-top: 5px;
            cursor: pointer;
            height: 30px; /* Adjusted height */
            width: 30px; /* Adjusted width */
        }
        .description {
            text-align: left;
            font-size: 12px;
            font-family: 'Arbutus', sans-serif;
            color: #000000;
        }
        #wavesurfer-container3 {
            user-select: none;
        }
    </style>
</head>
<body>
<div id="wavesurfer-container3"></div>
<img height="30px" width="30px" id="playPause3" 
     src="https://cdn.shopify.com/s/files/1/0601/7332/0434/files/play_icon_7f196692-18d6-4b56-a3e5-546845b621c1.webp?v=1671035135" 
     class="control_button">
<p class="description">{{ product.metafields.custom.audiotitle3 }}</p>

<script>
   document.addEventListener('DOMContentLoaded', function () {
       var playPauseBtn = document.querySelector("#playPause3"); // Change 1 to match each instance
       var waveContainer = document.querySelector("#wavesurfer-container3"); // Change 1 accordingly

       if (!playPauseBtn || !waveContainer) return;

       var playIcon = "https://cdn.shopify.com/s/files/1/0601/7332/0434/files/play_icon_7f196692-18d6-4b56-a3e5-546845b621c1.webp?v=1671035135";
       var pauseIcon = "https://cdn.shopify.com/s/files/1/0601/7332/0434/files/pause_icon_14c18574-a8f7-4ca2-9b4e-524d2be8d0e1.webp?v=1671035136";

       // Ensure the global array exists
       window.waveSurferPlayers = window.waveSurferPlayers || [];

       var wavesurfer = WaveSurfer.create({
           container: waveContainer,
           waveColor: '#000000',
           progressColor: '#000000',
           height: 40,
           cursorWidth: 0,
           hideScrollbar: true,
           backend: 'MediaElement'
       });

       // Load the respective audio file dynamically
       wavesurfer.load('{{ product.metafields.custom.audiopreview3 }}'); // Change index for each instance

       wavesurfer.on('play', function() {
           // Stop all other players before playing this one
           window.waveSurferPlayers.forEach(player => {
               if (player !== wavesurfer) {
                   player.pause();
               }
           });

           playPauseBtn.src = pauseIcon;
       });

       wavesurfer.on('pause', function() {
           playPauseBtn.src = playIcon;
       });

       playPauseBtn.addEventListener("click", function () {
           wavesurfer.playPause();
       });

       // Add this instance to the global array
       window.waveSurferPlayers.push(wavesurfer);
   });
</script>

</body>
</html></div></div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gHCg56xGoK gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gc6fFSWFI2 "
    ><div><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Use the Google Fonts link for the "Arbutus" font -->
    <link href="https://fonts.googleapis.com/css2?family=Arbutus&display=swap" rel="stylesheet">
    
    <!-- Include the WaveSurfer.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script>
    
    <style>
        #playPause4 {
            margin-top: 5px;
            cursor: pointer;
            height: 30px; /* Adjusted height */
            width: 30px; /* Adjusted width */
        }
        .description {
            text-align: left;
            font-size: 12px;
            font-family: 'Arbutus', sans-serif;
            color: #000000;
        }
        #wavesurfer-container4 {
            user-select: none;
        }
    </style>
</head>
<body>
<div id="wavesurfer-container4"></div>
<img height="30px" width="30px" id="playPause4" 
     src="https://cdn.shopify.com/s/files/1/0601/7332/0434/files/play_icon_7f196692-18d6-4b56-a3e5-546845b621c1.webp?v=1671035135" 
     class="control_button">
<p class="description">{{ product.metafields.custom.audiotitle4 }}</p>

<script>
   document.addEventListener('DOMContentLoaded', function () {
       var playPauseBtn = document.querySelector("#playPause4"); // Change 1 to match each instance
       var waveContainer = document.querySelector("#wavesurfer-container4"); // Change 1 accordingly

       if (!playPauseBtn || !waveContainer) return;

       var playIcon = "https://cdn.shopify.com/s/files/1/0601/7332/0434/files/play_icon_7f196692-18d6-4b56-a3e5-546845b621c1.webp?v=1671035135";
       var pauseIcon = "https://cdn.shopify.com/s/files/1/0601/7332/0434/files/pause_icon_14c18574-a8f7-4ca2-9b4e-524d2be8d0e1.webp?v=1671035136";

       // Ensure the global array exists
       window.waveSurferPlayers = window.waveSurferPlayers || [];

       var wavesurfer = WaveSurfer.create({
           container: waveContainer,
           waveColor: '#000000',
           progressColor: '#000000',
           height: 40,
           cursorWidth: 0,
           hideScrollbar: true,
           backend: 'MediaElement'
       });

       // Load the respective audio file dynamically
       wavesurfer.load('{{ product.metafields.custom.audiopreview4 }}'); // Change index for each instance

       wavesurfer.on('play', function() {
           // Stop all other players before playing this one
           window.waveSurferPlayers.forEach(player => {
               if (player !== wavesurfer) {
                   player.pause();
               }
           });

           playPauseBtn.src = pauseIcon;
       });

       wavesurfer.on('pause', function() {
           playPauseBtn.src = playIcon;
       });

       playPauseBtn.addEventListener("click", function () {
           wavesurfer.playPause();
       });

       // Add this instance to the global array
       window.waveSurferPlayers.push(wavesurfer);
   });
</script>

</body>
</html></div></div>
  
    </div>
    </div>
   
    </div>
  </gp-animation>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-animation.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  <gp-animation
    gp-interaction-wrapper
    display-init="show"
    gp-data='{"config":{"desktop":{"enabled":true,"trigger":"appear","triggerConfig":{"appear":{"animation":"fade","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":true,"scale":{"in":["90",100],"out":[120,100]},"speed":1.7,"zoomDirection":"in"}}},"hover":{"animation":"none","setting":{"fade":{"delay":"0","easing":"ease-out","speed":1.7},"shake":{"delay":"0","easing":"linear","intensity":11,"loop":false,"speed":0.7},"slide":{"delay":"0","direction":"left","easing":"ease-out","isCustomDistance":false,"speed":1.7},"zoom":{"delay":"0","easing":"ease-out","isFade":false,"scale":{"in":[100,120],"out":[100,80]},"speed":1.7,"zoomDirection":"in"}}}}}},"tag":"Row","opacity":{"desktop":"100%"},"notEnableAnimationWhenInit":false}'
    style="display:contents"
  >
    <div style="--v:hidden;--v-tablet:hidden;--v-mobile:hidden;display:contents">
       
      
    <div
      parentTag="Col" id="gfDowPeixA" data-id="gfDowPeixA"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:20px;--cg:8px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfDowPeixA gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gh7QxosK12 gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pb-mobile:20px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="g1zQimOmES "
    ><div><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Use the Google Fonts link for the "Arbutus" font -->
    <link href="https://fonts.googleapis.com/css2?family=Arbutus&display=swap" rel="stylesheet">
    
    <!-- Include the WaveSurfer.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script>
    
    <style>
        #playPause5 {
            margin-top: 5px;
            cursor: pointer;
            height: 30px; /* Adjusted height */
            width: 30px; /* Adjusted width */
        }
        .description {
            text-align: left;
            font-size: 12px;
            font-family: 'Arbutus', sans-serif;
            color: #000000;
        }
        #wavesurfer-container5 {
            user-select: none;
        }
    </style>
</head>
<body>
<div id="wavesurfer-container5"></div>
<img height="30px" width="30px" id="playPause5" 
     src="https://cdn.shopify.com/s/files/1/0601/7332/0434/files/play_icon_7f196692-18d6-4b56-a3e5-546845b621c1.webp?v=1671035135" 
     class="control_button">
<p class="description">{{ product.metafields.custom.audiotitle5 }}</p>

<script>
   document.addEventListener('DOMContentLoaded', function () {
       var playPauseBtn = document.querySelector("#playPause5"); // Change 1 to match each instance
       var waveContainer = document.querySelector("#wavesurfer-container5"); // Change 1 accordingly

       if (!playPauseBtn || !waveContainer) return;

       var playIcon = "https://cdn.shopify.com/s/files/1/0601/7332/0434/files/play_icon_7f196692-18d6-4b56-a3e5-546845b621c1.webp?v=1671035135";
       var pauseIcon = "https://cdn.shopify.com/s/files/1/0601/7332/0434/files/pause_icon_14c18574-a8f7-4ca2-9b4e-524d2be8d0e1.webp?v=1671035136";

       // Ensure the global array exists
       window.waveSurferPlayers = window.waveSurferPlayers || [];

       var wavesurfer = WaveSurfer.create({
           container: waveContainer,
           waveColor: '#000000',
           progressColor: '#000000',
           height: 40,
           cursorWidth: 0,
           hideScrollbar: true,
           backend: 'MediaElement'
       });

       // Load the respective audio file dynamically
       wavesurfer.load('{{ product.metafields.custom.audiopreview5 }}'); // Change index for each instance

       wavesurfer.on('play', function() {
           // Stop all other players before playing this one
           window.waveSurferPlayers.forEach(player => {
               if (player !== wavesurfer) {
                   player.pause();
               }
           });

           playPauseBtn.src = pauseIcon;
       });

       wavesurfer.on('pause', function() {
           playPauseBtn.src = playIcon;
       });

       playPauseBtn.addEventListener("click", function () {
           wavesurfer.playPause();
       });

       // Add this instance to the global array
       window.waveSurferPlayers.push(wavesurfer);
   });
</script>

</body>
</html></div></div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2FR0wLoI8 gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pb-mobile:20px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="ghM9iPPIih "
    ><div><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Use the Google Fonts link for the "Arbutus" font -->
    <link href="https://fonts.googleapis.com/css2?family=Arbutus&display=swap" rel="stylesheet">
    
    <!-- Include the WaveSurfer.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script>
    
    <style>
        #playPause6 {
            margin-top: 5px;
            cursor: pointer;
            height: 30px; /* Adjusted height */
            width: 30px; /* Adjusted width */
        }
        .description {
            text-align: left;
            font-size: 12px;
            font-family: 'Arbutus', sans-serif;
            color: #000000;
        }
        #wavesurfer-container6 {
            user-select: none;
        }
    </style>
</head>
<body>
<div id="wavesurfer-container6"></div>
<img height="30px" width="30px" id="playPause6" 
     src="https://cdn.shopify.com/s/files/1/0601/7332/0434/files/play_icon_7f196692-18d6-4b56-a3e5-546845b621c1.webp?v=1671035135" 
     class="control_button">
<p class="description">{{ product.metafields.custom.audiotitle6 }}</p>

<script>
   document.addEventListener('DOMContentLoaded', function () {
       var playPauseBtn = document.querySelector("#playPause6"); // Change 1 to match each instance
       var waveContainer = document.querySelector("#wavesurfer-container6"); // Change 1 accordingly

       if (!playPauseBtn || !waveContainer) return;

       var playIcon = "https://cdn.shopify.com/s/files/1/0601/7332/0434/files/play_icon_7f196692-18d6-4b56-a3e5-546845b621c1.webp?v=1671035135";
       var pauseIcon = "https://cdn.shopify.com/s/files/1/0601/7332/0434/files/pause_icon_14c18574-a8f7-4ca2-9b4e-524d2be8d0e1.webp?v=1671035136";

       // Ensure the global array exists
       window.waveSurferPlayers = window.waveSurferPlayers || [];

       var wavesurfer = WaveSurfer.create({
           container: waveContainer,
           waveColor: '#000000',
           progressColor: '#000000',
           height: 40,
           cursorWidth: 0,
           hideScrollbar: true,
           backend: 'MediaElement'
       });

       // Load the respective audio file dynamically
       wavesurfer.load('{{ product.metafields.custom.audiopreview6 }}'); // Change index for each instance

       wavesurfer.on('play', function() {
           // Stop all other players before playing this one
           window.waveSurferPlayers.forEach(player => {
               if (player !== wavesurfer) {
                   player.pause();
               }
           });

           playPauseBtn.src = pauseIcon;
       });

       wavesurfer.on('pause', function() {
           playPauseBtn.src = playIcon;
       });

       playPauseBtn.addEventListener("click", function () {
           wavesurfer.playPause();
       });

       // Add this instance to the global array
       window.waveSurferPlayers.push(wavesurfer);
   });
</script>

</body>
</html></div></div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJY5-gRYTc gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pb-mobile:20px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gHFSuVALFe "
    ><div><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Use the Google Fonts link for the "Arbutus" font -->
    <link href="https://fonts.googleapis.com/css2?family=Arbutus&display=swap" rel="stylesheet">
    
    <!-- Include the WaveSurfer.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script>
    
    <style>
        #playPause7 {
            margin-top: 5px;
            cursor: pointer;
            height: 30px; /* Adjusted height */
            width: 30px; /* Adjusted width */
        }
        .description {
            text-align: left;
            font-size: 12px;
            font-family: 'Arbutus', sans-serif;
            color: #000000;
        }
        #wavesurfer-container7 {
            user-select: none;
        }
    </style>
</head>
<body>
<div id="wavesurfer-container7"></div>
<img height="30px" width="30px" id="playPause7" 
     src="https://cdn.shopify.com/s/files/1/0601/7332/0434/files/play_icon_7f196692-18d6-4b56-a3e5-546845b621c1.webp?v=1671035135" 
     class="control_button">
<p class="description">{{ product.metafields.custom.audiotitle7 }}</p>

<script>
   document.addEventListener('DOMContentLoaded', function () {
       var playPauseBtn = document.querySelector("#playPause7"); // Change 1 to match each instance
       var waveContainer = document.querySelector("#wavesurfer-container7"); // Change 1 accordingly

       if (!playPauseBtn || !waveContainer) return;

       var playIcon = "https://cdn.shopify.com/s/files/1/0601/7332/0434/files/play_icon_7f196692-18d6-4b56-a3e5-546845b621c1.webp?v=1671035135";
       var pauseIcon = "https://cdn.shopify.com/s/files/1/0601/7332/0434/files/pause_icon_14c18574-a8f7-4ca2-9b4e-524d2be8d0e1.webp?v=1671035136";

       // Ensure the global array exists
       window.waveSurferPlayers = window.waveSurferPlayers || [];

       var wavesurfer = WaveSurfer.create({
           container: waveContainer,
           waveColor: '#000000',
           progressColor: '#000000',
           height: 40,
           cursorWidth: 0,
           hideScrollbar: true,
           backend: 'MediaElement'
       });

       // Load the respective audio file dynamically
       wavesurfer.load('{{ product.metafields.custom.audiopreview7 }}'); // Change index for each instance

       wavesurfer.on('play', function() {
           // Stop all other players before playing this one
           window.waveSurferPlayers.forEach(player => {
               if (player !== wavesurfer) {
                   player.pause();
               }
           });

           playPauseBtn.src = pauseIcon;
       });

       wavesurfer.on('pause', function() {
           playPauseBtn.src = playIcon;
       });

       playPauseBtn.addEventListener("click", function () {
           wavesurfer.playPause();
       });

       // Add this instance to the global array
       window.waveSurferPlayers.push(wavesurfer);
   });
</script>

</body>
</html></div></div>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-DdkS8GY1 gp-relative gp-flex gp-flex-col"
    >
      
  
    <div
      
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--ta:left"
      data-keep-class="true"
      class="gWP6-b7pwJ "
    ><div><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Use the Google Fonts link for the "Arbutus" font -->
    <link href="https://fonts.googleapis.com/css2?family=Arbutus&display=swap" rel="stylesheet">
    
    <!-- Include the WaveSurfer.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/2.0.5/wavesurfer.min.js"></script>
    
    <style>
        #playPause8 {
            margin-top: 5px;
            cursor: pointer;
            height: 30px; /* Adjusted height */
            width: 30px; /* Adjusted width */
        }
        .description {
            text-align: left;
            font-size: 12px;
            font-family: 'Arbutus', sans-serif;
            color: #000000;
        }
        #wavesurfer-container8 {
            user-select: none;
        }
    </style>
</head>
<body>
<div id="wavesurfer-container8"></div>
<img height="30px" width="30px" id="playPause8" 
     src="https://cdn.shopify.com/s/files/1/0601/7332/0434/files/play_icon_7f196692-18d6-4b56-a3e5-546845b621c1.webp?v=1671035135" 
     class="control_button">
<p class="description">{{ product.metafields.custom.audiotitle8 }}</p>

<script>
   document.addEventListener('DOMContentLoaded', function () {
       var playPauseBtn = document.querySelector("#playPause8"); // Change 1 to match each instance
       var waveContainer = document.querySelector("#wavesurfer-container8"); // Change 1 accordingly

       if (!playPauseBtn || !waveContainer) return;

       var playIcon = "https://cdn.shopify.com/s/files/1/0601/7332/0434/files/play_icon_7f196692-18d6-4b56-a3e5-546845b621c1.webp?v=1671035135";
       var pauseIcon = "https://cdn.shopify.com/s/files/1/0601/7332/0434/files/pause_icon_14c18574-a8f7-4ca2-9b4e-524d2be8d0e1.webp?v=1671035136";

       // Ensure the global array exists
       window.waveSurferPlayers = window.waveSurferPlayers || [];

       var wavesurfer = WaveSurfer.create({
           container: waveContainer,
           waveColor: '#000000',
           progressColor: '#000000',
           height: 40,
           cursorWidth: 0,
           hideScrollbar: true,
           backend: 'MediaElement'
       });

       // Load the respective audio file dynamically
       wavesurfer.load('{{ product.metafields.custom.audiopreview8 }}'); // Change index for each instance

       wavesurfer.on('play', function() {
           // Stop all other players before playing this one
           window.waveSurferPlayers.forEach(player => {
               if (player !== wavesurfer) {
                   player.pause();
               }
           });

           playPauseBtn.src = pauseIcon;
       });

       wavesurfer.on('pause', function() {
           playPauseBtn.src = playIcon;
       });

       playPauseBtn.addEventListener("click", function () {
           wavesurfer.playPause();
       });

       // Add this instance to the global array
       window.waveSurferPlayers.push(wavesurfer);
   });
</script>

</body>
</html></div></div>
  
    </div>
    </div>
   
    </div>
  </gp-animation>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-animation.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v3/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbAFpg.woff) format('woff');
}
/* arabic */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v3/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbFFpgjQ70a32LPRw.woff) format('woff');
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0897-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EC2-10EC4, U+10EFC-10EFF, U+1EE00-1EE03, U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47, U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62, U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B, U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
/* vietnamese */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v3/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbPFpgjQ70a32LPRw.woff) format('woff');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v3/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbOFpgjQ70a32LPRw.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Alexandria';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/alexandria/v3/UMBCrPdDqW66y0Y2usFeQCH18mulUxBvI9r7TpbAFpgjQ70a32I.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-552829394607998059 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/1ah4tu-eq/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=552829394574378091&sectionId=552829394607998059)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggKInoq4tw2_text","label":"ggKInoq4tw2_text","default":"<strong>Audio Previews</strong>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
